* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Nova Square', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}




a {

  color: white;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;

}

.blue-font a {
  color: #0d6efd;
}

.first-sec {
  background: url("../style/the-town-bg-01.4fb1a448e9b51ceb326a.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.first-center .my-name a {
  font-weight: 15;
  font-size: medium;
  color: #0d6efd;
}

.first-tob {
  display: flex;
  flex-direction: row;
  height: 15%;
  justify-content: space-between;
  align-items: center;
}

.left-tob {
  flex-basis: 18%;
  display: flex;
  justify-content: center;
}

.right-tob {
  flex-basis: 60%;
  display: flex;
  justify-content: space-around;
}

.first-center {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.first-center h1 {
  font-size: xxx-large;
  margin: 0 0 10px 0;
}

.second-tob {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.second-left {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-right {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: baseline;
  color: rgb(121, 81, 81);
}

.second-right img {
  width: 85%;
}

.second-right .blue-font a {
  font-size: small;
}

.second-right h1 {
  color: #0d6efd;
}

.second-right p {
  font-size: 20px;
}

.second-right button {
  background-color: #0d6efd;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}

.second-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 55px;
  background: linear-gradient(to bottom, #e3987f, #5c648c);
  margin-top: 80px;
}

.bottom-work {
  flex-basis: 30%;
  text-align: center;
  gap: 15px;
}

.bottom-work a {
  color: #0d6efd;
}

.bottom-work h1 {
  color: white;
  font-size: xxx-large;
}

/*  */

.third-sec {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.third-tob {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
}

.third-bottom {
  display: flex;
  justify-content: space-evenly;
}

.imgs-sec {
  flex-basis: 8%;
}

.third-bottom .imgs-sec img {
  height: 225px;
  width: 200px;
}

.third-tob h1 {
  color: #0d6efd;
  font-weight: bold;
  font-size: xx-large;
}

.fourth-sec {
  width: 100%;
  height: 80vh;
  background: url("../style/the-town-bg-02.d00ce147e8572c7e554e.jpg");
  background-size: cover;
  margin-top: 80px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 70px;
}

.fourth-center {
  display: flex;
  justify-content: space-evenly;
  gap: 700px;
}

.fourth-tob {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.fourth-tob h1 {
  font-weight: bold;
  font-size: xxx-large;
}

.fourth-c {
  display: flex;
  flex-direction: column;
  gap: 90px;
  font-weight: bold;
  font-size: large;
}

.fourth-end {
  display: flex;
  justify-content: center;
}

.fourth-end a {
  color: #0d6efd;
  font-size: large;
}

.bg-body-tertiary {
  background: none !important;
}

.fourth-c a {
  color: #0d6efd;
  font-size: 15px;
}